# TODO for tracking SNAP data
- get pandas (installed/working on the work computers)
- make conditional to load pandas df from file (if it exists), or make a new one
- after each update to the pandas df, write the output to file
-

In [17]:
import pandas as pd
from time import localtime, strftime
import time
import numpy as np

In [2]:
columns = ['study_id', 'lab_id', 'experimenter', 'date', 'condition',
                   'maze', 'phase', 'trial', 'sub_trial', 'object',
                   'movement_time', 'average_velocity', 'total_distance']

In [3]:
def create_df():
    global mydf
    mydf = pd.DataFrame(columns=columns)

In [4]:
create_df()

In [5]:
def rando():
    print(mydf)

In [6]:
mydf

Empty DataFrame
Columns: [study_id, lab_id, experimenter, date, condition, maze, phase, trial, sub_trial, object, movement_time, average_velocity, total_distance]
Index: []

In [7]:
subject_id_data = 2
lab_id = ''
experimenter_data = 'James'
cur_date = strftime("%m/%d/%Y", localtime())
condition = 0
maze_root = 'VMS'
phase = 'wut'
trial_number = 0
elapsed_time = 1232.345
average_velocity = 234.23
total_distance = 12344
resized_coordinate_array = [[0, 1, 2, 3]]

In [8]:
cur_date

'03/16/2018'

In [13]:
def tstFunc():
    output_info = {
            'study_id': subject_id_data,
            'lab_id': '',
            'experimenter': experimenter_data,
            'date': cur_date,
            'condition': condition,
            'maze': maze_root,
            'phase': phase,
            'trial': trial_number,
            'movement_time': elapsed_time,
            'average_velocity': average_velocity,
            'total_distance': total_distance,
            'coordinates': resized_coordinate_array,
        }
    return mydf.append(output_info, ignore_index=True)
mydf = tstFunc()

In [14]:
mydf

,study_id,lab_id,experimenter,date,condition,maze,phase,trial,sub_trial,object,movement_time,average_velocity,total_distance,coordinates
0,2,,James,03/16/2018,0,VMS,wut,0,NaN,NaN,1232.345,234.23,12344,"[[0, 1, 2, 3]]"

In [ ]:
output_info = {
            'study_id': subject_id_data,
            'lab_id': '',
            'experimenter': experimenter_data,
            'date': cur_date,
            'condition': condition,
            'maze': maze_root,
            'phase': phase,
            'trial': trial_number,
            'movement_time': elapsed_time,
            'average_velocity': average_velocity,
            'total_distance': total_distance,
            'coordinates': resized_coordinate_array,
        }
def update_file(output_info, df):
    df = df.append(output_info, ignore_index=True)
update_file(output_info, mydf)

In [ ]:
# mydf.append(output_info, ignore_index=True)
mydf

In [ ]:
mydf.append(output_info, ignore_index=True)

In [ ]:
mydf

In [19]:
resized_coordinate_array = np.random.rand(100,4)

In [29]:
coordinates_columns = ['coord_1',
                       'coord_2',
                       'coord_3',
                       'coord_4']
coord_surplus_data = {'study_id': [subject_id_data] * len(resized_coordinate_array)
'date': [cur_date] 
'condition'
'maze', 
'phase', 
'trial', 
'sub_trial', 
'object', 
                        ]

coord_df = pd.DataFrame(columns=coordinates_columns)

In [32]:
len(resized_coordinate_array)

100

In [28]:
pd.DataFrame(resized_coordinate_array, columns=coordinates_columns)

     coord_1   coord_2   coord_3   coord_4
0   0.344067  0.038721  0.210564  0.435654
1   0.210529  0.301704  0.473017  0.669962
2   0.420544  0.754604  0.800907  0.913198
3   0.951673  0.705181  0.973921  0.725757
4   0.218123  0.613598  0.246796  0.007291
5   0.930037  0.035402  0.463466  0.754409
6   0.304497  0.137588  0.783015  0.811693
7   0.274773  0.170361  0.413472  0.923713
8   0.460579  0.853234  0.210715  0.086895
9   0.454746  0.064698  0.681373  0.920825
10  0.512496  0.637328  0.909577  0.712071
11  0.485914  0.007677  0.690397  0.861788
12  0.345542  0.247390  0.121987  0.793476
13  0.565456  0.214874  0.060431  0.348948
14  0.856082  0.794700  0.536029  0.217149
15  0.399949  0.057587  0.505628  0.212211
16  0.309821  0.981860  0.902183  0.627784
17  0.803708  0.074409  0.367844  0.468382
18  0.904684  0.037987  0.170884  0.304786
19  0.704963  0.752604  0.553130  0.046636
20  0.580804  0.805184  0.433202  0.409098
21  0.349870  0.576826  0.314147  0.212337
22  0.708866  0.193272  0.103295  0.489834
23  0.919253  0.173224  0.157849  0.441447
24  0.284161  0.026925  0.563099  0.308064
25  0.555377  0.393728  0.571041  0.169006
26  0.429108  0.409570  0.083406  0.351664
27  0.674640  0.810271  0.143120  0.944942
28  0.875974  0.539114  0.980961  0.870981
29  0.018120  0.607269  0.334767  0.534572
..       ...       ...       ...       ...
70  0.952885  0.327823  0.460798  0.715789
71  0.904747  0.361182  0.742442  0.808041
72  0.618407  0.545408  0.881180  0.276714
73  0.594425  0.674569  0.405147  0.561813
74  0.123871  0.583377  0.158785  0.869826
75  0.876291  0.828140  0.895135  0.215162
76  0.608119  0.534356  0.938078  0.570139
77  0.615257  0.004403  0.365164  0.035327
78  0.071390  0.291805  0.107041  0.525637
79  0.528473  0.191801  0.646212  0.970706
80  0.822955  0.928608  0.410628  0.253854
81  0.538452  0.857964  0.855307  0.941370
82  0.791247  0.138197  0.666191  0.564467
83  0.957418  0.660595  0.407841  0.018174
84  0.431368  0.048459  0.397974  0.629989
85  0.362939  0.551290  0.142878  0.694964
86  0.989463  0.096245  0.954723  0.545889
87  0.967307  0.129574  0.513125  0.972759
88  0.297728  0.677966  0.354328  0.095821
89  0.161626  0.257179  0.877966  0.742110
90  0.909771  0.233774  0.345530  0.296609
91  0.821633  0.531392  0.481698  0.024463
92  0.447069  0.073470  0.697250  0.422975
93  0.348523  0.072410  0.305556  0.047636
94  0.741621  0.714726  0.315889  0.593240
95  0.239490  0.581230  0.391263  0.673315
96  0.704919  0.186919  0.869971  0.235178
97  0.987723  0.867565  0.443904  0.264879
98  0.587208  0.052595  0.417878  0.514935
99  0.795819  0.033944  0.444856  0.776167

[100 rows x 4 columns]

In [31]:
[subject_id_data] * 100

[2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2,
 2]