# TODO for tracking SNAP data
- get pandas (installed/working on the work computers)
- make conditional to load pandas df from file (if it exists), or make a new one
- after each update to the pandas df, write the output to file
-

In [32]:
import pandas as pd
from time import localtime, strftime
import time

In [45]:
columns = ['study_id', 'lab_id', 'experimenter', 'date', 'condition',
                   'maze', 'phase', 'trial', 'sub_trial', 'object',
                   'movement_time', 'average_velocity', 'total_distance']

In [46]:
sample_df = pd.DataFrame(columns=columns)

In [47]:
sample_df

Empty DataFrame
Columns: [study_id, lab_id, experimenter, date, condition, maze, phase, trial, sub_trial, object, movement_time, average_velocity, total_distance]
Index: []

In [6]:
global x
x = 5

In [7]:
x

5

In [52]:
def create_df():
    global mydf
    mydf = pd.DataFrame(columns=columns)

In [53]:
create_df()

In [54]:
def rando():
    print(mydf)

In [55]:
mydf

Empty DataFrame
Columns: [study_id, lab_id, experimenter, date, condition, maze, phase, trial, sub_trial, object, movement_time, average_velocity, total_distance]
Index: []

x = 4

In [12]:
x

4

In [13]:
x

4

In [17]:
def myfunc():
    global x
    x = 5

In [18]:
myfunc()

In [19]:
x

5

In [42]:
subject_id_data = 2
lab_id = ''
experimenter_data = 'James'
cur_date = strftime("%m/%d/%Y", localtime())
condition = 0
maze_root = 'VMS'
phase = 'wut'
trial_number = 0
elapsed_time = 1232.345
average_velocity = 234.23
total_distance = 12344
resized_coordinate_array = [[0, 1, 2, 3]]

In [43]:
cur_date

'03/16/2018'

In [44]:
output_info = {
        'study_id': subject_id_data,
        'lab_id': '',
        'experimenter': experimenter_data,
        'date': cur_date,
        'condition': condition,
        'maze': maze_root,
        'phase': phase,
        'trial': trial_number,
        'movement_time': elapsed_time,
        'average_velocity': average_velocity,
        'total_distance': total_distance,
        'coordinates': resized_coordinate_array,
    }

In [57]:
mydf.append(output_info, ignore_index=True)

,study_id,lab_id,experimenter,date,condition,maze,phase,trial,sub_trial,object,movement_time,average_velocity,total_distance,coordinates
0,2,,James,03/16/2018,0,VMS,wut,0,NaN,NaN,1232.345,234.23,12344,"[[0, 1, 2, 3]]"